std-processor-service/src/main/resources/xsd/NBS_CN_DB_ORA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com) by Pradeep Kumar Sharma (DHHS (C/O SAIC)) -->
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Aurelia Ford (Computer Sciences Corp) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ADD_REASON_CD">
		<xs:complexType>
			<xs:attribute name="null" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ADD_TIME" type="xs:string"/>
	<xs:element name="ADD_USER_ID" type="xs:int"/>
	<xs:element name="CN_TRANSPORTQ_OUT_UID" type="xs:byte"/>
	<xs:element name="LAST_CHG_REASON_CD">
		<xs:complexType>
			<xs:attribute name="null" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LAST_CHG_TIME" type="xs:string"/>
	<xs:element name="LAST_CHG_USER_ID" type="xs:int"/>
	<xs:element name="MESSAGE_PAYLOAD" type="xs:string"/>
	<xs:element name="NOTIFICATION_LOCAL_ID" type="xs:string"/>
	<xs:element name="NOTIFICATION_UID" type="xs:int"/>
	<xs:element name="PUBLIC_HEALTH_CASE_LOCAL_ID" type="xs:string"/>
	<xs:element name="RECORD_STATUS_CD" type="xs:string"/>
	<xs:element name="RECORD_STATUS_TIME" type="xs:string"/>
	<xs:element name="VERSION_CTRL_NBR" type="xs:boolean"/>
	<xs:element name="main">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LAST_CHG_TIME"/>
				<xs:element ref="NOTIFICATION_UID"/>
				<xs:element ref="CN_TRANSPORTQ_OUT_UID"/>
				<xs:element ref="RECORD_STATUS_CD"/>
				<xs:element ref="ADD_USER_ID"/>
				<xs:element ref="ADD_REASON_CD"/>
				<xs:element ref="PUBLIC_HEALTH_CASE_LOCAL_ID"/>
				<xs:element ref="LAST_CHG_REASON_CD"/>
				<xs:element ref="RECORD_STATUS_TIME"/>
				<xs:element ref="NOTIFICATION_LOCAL_ID"/>
				<xs:element ref="MESSAGE_PAYLOAD"/>
				<xs:element ref="LAST_CHG_USER_ID"/>
				<xs:element ref="VERSION_CTRL_NBR"/>
				<xs:element ref="ADD_TIME"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="main"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
